export(gp_available)
export(gp_arrowstyle)
export(gp_bar)
export(gp_bar3d)
export(gp_boxplot)
export(gp_boxes3d)
export(gp_circles)
export(gp_configure)
export(gp_contour)
export(gp_density)
export(gp_detect_executable)
export(gp_errorbars)
export(gp_executable)
export(gp_filledcurves)
export(gp_finance)
export(gp_fenceplot)
export(gp_function)
export(gp_gantt)
export(gp_heatmap)
export(gp_histogram)
export(gp_image)
export(gp_labels)
export(gp_layer)
export(gp_line)
export(gp_lines)
export(gp_labels3d)
export(gp_linetype)
export(gp_linestyle)
export(gp_map3d)
export(gp_multi)
export(gp_options)
export(gp_parametric_surface)
export(gp_parallel3d)
export(gp_plot)
export(gp_points)
export(gp_points3d)
export(gp_points4d)
export(gp_polygons3d)
export(gp_scatter)
export(gp_run)
export(gp_splot)
export(gp_style)
export(gp_styles)
export(gp_surface)
export(gp_surface4d)
export(gp_terminal)
export(gp_theme)
export(gp_violinplot)
export(gp_vectors3d)
export(gp_vectors)
export(gp_version)
export(gp_voxels)
export(gp_waterfall)
export(gp_isosurface)
